{% extends "base.html" %}

{% block content %}
    <h2>Фотографии</h2>
    <ul>
        {% for photo in photos %}
            <li>
                <img src="{{ url_for('static', filename='uploads/' + photo) }}" alt="{{ photo }}" width="200">
                <p>{{ photo }}</p>
                <form action="{{ url_for('delete_photo', filename=photo) }}" method="post">
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}